<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Request Trap</title>
</head>
<body>
    <h1 style="text-align: center">Request Trap "<%= trap_id %>"</h1>
    <div id="content-traps">
        <% traps.forEach(function(trap) { %>
            <div class="trap-item">
                <ul style="list-style: none">
                    <li>Query String: <b><%= trap.query_string %></b></li>
                    <li>Remote IP: <b><%= trap.remote_ip %></b></li>
                    <li>Method: <b><%= trap.method %></b></li>
                    <li>Scheme: <b><%= trap.scheme %></b></li>
                    <li>Query Params:
                        <ul style="list-style: none">
                            <% for(key in trap.query_params){%>
                                <li><%= key %>: <b><%= trap.query_params[key] %></b></li>
                            <% } %>
                        </ul>
                    </li>
                    <li>Headers:
                        <ul style="list-style: none">
                            <% for(key in trap.headers){%>
                                <li><%= key %>: <b><%= trap.headers[key] %></b></li>
                            <% } %>
                        </ul>
                    </li>
                    <li>Cookies:
                        <ul style="list-style: none">
                            <% for(key in trap.cookies){%>
                                <li><%= key %>: <b><%= trap.cookies[key] %></b></li>
                            <% } %>
                        </ul>
                    </li>
                    <li>Date: <b><%= trap.createdAt %></b></li>
                </ul>
                <hr>
            </div>
        <% }); %>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('<%= traps[0].query_string %>');
        var requestTraps = document.getElementById('content-traps');
        socket.on('newRequest', function(html){
           var item = document.createElement('div');
           item.className = 'trap-item';
           item.innerHTML = html;
           requestTraps.insertBefore(item, requestTraps.firstChild);
        });
    </script>
</body>
</html>