<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Request Trap</title>
</head>
<body>
    <h1 style="text-align: center">Request Trap "<%= trap_id %>"</h1>
    <div class="content-traps">
        <% traps.forEach(function(trap) { %>
            <div class="trap-item">
                <ul style="list-style: none">
                    <li>Query String: <b><%= trap.query_string %></b></li>
                    <li>Remote IP: <b><%= trap.remote_ip %></b></li>
                    <li>Method: <b><%= trap.method %></b></li>
                    <li>Scheme: <b><%= trap.scheme %></b></li>
                    <li>Query Params:
                        <ul style="list-style: none">
                            <% for(key in trap.query_params){%>
                                <li><%= key %>: <b><%= trap.query_params[key] %></b></li>
                            <% } %>
                        </ul>
                    </li>
                    <li>Headers:
                        <ul style="list-style: none">
                            <% for(key in trap.headers){%>
                                <li><%= key %>: <b><%= trap.headers[key] %></b></li>
                            <% } %>
                        </ul>
                    </li>
                    <li>Cookies:
                        <ul style="list-style: none">
                            <% for(key in trap.cookies){%>
                                <li><%= key %>: <b><%= trap.cookies[key] %></b></li>
                            <% } %>
                        </ul>
                    </li>
                    <li>Date: <b><%= trap.createdAt %></b></li>
                </ul>
                <hr>
            </div>
        <% }); %>
    </div>
</body>
</html>